
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <!-- Navbar Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">Blue Heaven Technologies</a>

    <!-- Hamburger Control -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Menu(s) -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <!-- Side Navigation -->
            {% include 'partials/sidebar_navigation.html' %}
            <!-- Top Navigation -->
            {% include 'partials/topbar_navigation.html' %} 
        </ul>
    </div>
</nav>