<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <!-- Dashboard Link -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>

    <!-- Test Request Link -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Test Request">
        <a class="nav-link" href="{% url 'administration:test_request' %}">
            <i class="fa fa-fw fa-shopping-cart"></i>
            <span class="nav-link-text">New Test Request</span>
        </a>
    </li>

    <!--&lt;!&ndash; Barcode Link &ndash;&gt;-->
    <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Barcode">-->
        <!--<a class="nav-link" href="{% url 'barcode:home' %}">-->
            <!--<i class="fa fa-fw fa-qrcode"></i>-->
            <!--<span class="nav-link-text">Generate Barcode</span>-->
        <!--</a>-->
    <!--</li>-->

    <!--&lt;!&ndash; Filter Queue Link &ndash;&gt;-->
    <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Filter Queue">-->
        <!--<a class="nav-link" href="#">-->
            <!--<i class="fa fa-fw fa-hourglass-start"></i>-->
            <!--<span class="nav-link-text">Filter Queue</span>-->
        <!--</a>-->
    <!--</li>-->

    <!-- Lists Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Lists">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLists" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Lists</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseLists">
            <li><a href="{% url 'administration:customer_list' %}">Customers</a></li>
            <li><a href="{% url 'administration:test_type_list' %}">Test Types</a></li>
            <li><a href="{% url 'administration:department_list' %}">Departments</a></li>
            <li><a href="{% url 'administration:employee_list' %}">Employees</a></li>
        </ul>
    </li>

    <!-- Administration Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAdministration" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-lock"></i>
            <span class="nav-link-text">Administration</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseAdministration">
            <li><a href="{% url 'administration:customer' %}">Create Customer</a></li>
            <li><a href="{% url 'administration:test_type' %}">Create Test Type</a></li>
            <li><a href="{% url 'administration:department' %}">Create Department</a></li>
            <li><a href="{% url 'administration:employee' %}">Create Employee</a></li>
        </ul>
    </li>

    <!-- External Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="External Links">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExternalLinks" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">External Links</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseExternalLinks">
            <li><a href="http://bht-docs.local:8080" target="_blank">Document Library</a></li>
            <li><a href="http://bht-servicedesk.local:8080" target="_blank">Help Desk</a></li>
            <li><a href="http://www.blueheaventech.com" target="_blank">Website</a></li>
            <li><a href="https://outlook.office.com/owa" target="_blank">Outlook</a></li>
            <li><a href="https://bht-cloud.local/" target="_blank">Cloud</a></li>
        </ul>
    </li>

    <!--&lt;!&ndash; Customize Settings &ndash;&gt;-->
    <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">-->
        <!--<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">-->
            <!--<i class="fa fa-fw fa-wrench"></i>-->
            <!--<span class="nav-link-text">Customization Settings</span>-->
        <!--</a>-->
        <!--<ul class="sidenav-second-level collapse" id="collapseComponents">-->
            <!--<li><a href="{% url 'customize' %}">Navbar</a></li>-->
            <!--<li><a href="#">Cards</a></li>-->
        <!--</ul>-->
    <!--</li>-->
</ul>

<!-- Navigation Expand/Collapse Button -->
<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler"><i class="fa fa-fw fa-angle-left"></i></a>
    </li>
</ul>