<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <!-- Dashboard Link -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
        </a>
    </li>

    <!-- Administration Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Administration">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAdministration" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-lock"></i>
            <span class="nav-link-text">Administration</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseAdministration">
            <li><a href="{% url 'administration:customer' %}">Create Customer</a></li>
            <li><a href="{% url 'administration:test_type' %}">Create Test Type</a></li>
            <li><a href="{% url 'administration:department' %}">Create Department</a></li>
            <li><a href="{% url 'administration:employee' %}">Create Employee</a></li>
        </ul>
    </li>

    <!-- Orders Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseOrders" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-shopping-cart"></i>
            <span class="nav-link-text">Orders</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseOrders">
            <li><a href="{% url 'tests:create' %}">New</a></li>
            <li><a href="{% url 'tests:list' %}">Database</a></li>
        </ul>
    </li>

    <!-- Tables Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTables" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tables</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseTables">
            <li><a href="{% url 'administration:department_list' %}">Departments</a></li>
            <li><a href="{% url 'administration:employee_list' %}">Employees</a></li>
            <li><a href="{% url 'administration:customer_list' %}">Customers</a></li>
            <li><a href="{% url 'administration:test_type_list' %}">Test Types</a></li>
        </ul>
    </li>

    <!-- External Links -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="External Links">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExternalLinks" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">External Links</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseExternalLinks">
            <li><a href="#">Document Library</a></li>
            <li><a href="#">Help Desk</a></li>
            <li><a href="#">Website</a></li>
        </ul>
    </li>

    <!-- Customize Settings -->
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Customization Settings</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li><a href="{% url 'customize' %}">Navbar</a></li>
            <li><a href="#">Cards</a></li>
        </ul>
    </li>
</ul>

<!-- Navigation Expand/Collapse Button -->
<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler"><i class="fa fa-fw fa-angle-left"></i></a>
    </li>
</ul>