{% extends 'base.html' %}
{% load administration_extras %}

{% block page_title %}Delete {{ page_title }} {% endblock %}

{% block content %}
<div class="container">
    <form class="form" method="POST">
        {% csrf_token %}
        <p>This action will delete the {{ page_title|lower }} from the database. This cannot be undone.</p>
        <p><b>Are you sure you want to proceed?</b></p>
        <input type="submit" class="btn btn-danger" value="Yes">
        {% if page_title|lower == 'employee' %}
            <a href="{% url 'administration:employee_list' %}" class="btn btn-info">No</a>
        {% elif page_title|lower == 'department' %}
            <a href="{% url 'administration:department_list' %}" class="btn btn-info">Cancel</a>
        {% elif page_title|lower == 'customer' %}
            <a href="{% url 'administration:customer_list' %}" class="btn btn-info">Cancel</a>
        {% elif page_title|lower == 'test type' %}
            <a href="{% url 'administration:test_type_list' %}" class="btn btn-info">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}