{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load filters_extras %}

{% block title %}{% if not form.instance.pk %}Create {% else %}Edit {{ form.instance.pk }}{% endif %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Administration</li>
    <li class="breadcrumb-item active">{% if not form.instance.pk %}Create {{ form.model|to_class_name }}{% else %}Edit {{ form.instance.pk }}{% endif %}</li>
</ol>
{% endblock %}

{% block page_title %}{% if not form.instance.pk %}Create {{ object_list.model|to_class_name }} {% else %}Edit {{ form.instance.pk }}{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>
{% endblock %}