{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}

{% block title %}2018 Job List{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Lists</li>
    <li class="breadcrumb-item active">Test Requests</li>
</ol>
{% endblock %}

{% block page_title %}2018 Job List{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        {% render_table table %}
    </div>  <!-- /.table-responsive -->
</div>  <!-- /.container -->
{% endblock %}