{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load administration_extras %}

{% block title %}{% if not form.instance.pk %}Create Test Request{% else %}Update {{ form.instance.pk|format_job_number }}{% endif %}{% endblock %}

{% block page_title %}{% if not form.instance.pk %}Create Test Request{% else %}Update {{ form.instance.pk|format_job_number }}{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        {% if form.instance.pk %}
            <input type="submit" value="Update" class="btn btn-warning">
            <a href="{% url 'administration:delete_test_request' pk=form.instance.pk %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'administration:test_request_list' %}" class="btn btn-info">Cancel</a>
        {% else %}
            <input type="submit" value="Save" class="btn btn-success">
        {% endif %}
    </form>
</div>
{% endblock %}