{% extends 'base.html' %}

{% block content %}
<h2>Order List</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Job #</th>
                <th>Company</th>
                <th>Name</th>
                <th>Email</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td><a href="">{{ order.job_number }}</a></td>
                <td>{{ order.company }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.email }}</td>
                <td>
                    <a href="{% url 'orders:edit' order_pk=order.pk %}" class="btn btn-info">Edit</a>  <a href="{% url 'orders:delete' order_pk=order.pk %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}