{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>BHT | {% block title %}{% endblock %}</title>

        <!-- CSS -->
        {% include 'partials/css_dependencies.html' %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <!-- NAVIGATION -->
        {% include 'partials/navigation.html' %}

        <!-- CONTENT -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- PAGE TITLE -->
                <h2 class="text-center page-title">{% block page_title %}{% endblock %}</h2>

                <!-- ICON CARDS -->
                {% block icon_cards %}{% endblock %}

                <!-- CONTENT -->
                {% block content %}{% endblock %}
            </div>  <!-- /.container-fluid-->

            <!-- FOOTER -->
            {% include 'partials/footer.html' %}

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>

            <!-- Logout Modal-->
            {% include 'partials/logout_modal.html' %}

            <!-- JAVASCRIPT -->
            {% include 'partials/javascript_dependencies.html' %}
            {% block javascript %}{% endblock %}

        </div>  <!-- /.content-wrapper -->
    </body>
</html>