{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Company Name | {% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'orders:create' %}">Order Form</a></li>
            <li><a href="{% url 'orders:list' %}">Order List</a></li>
            <li><a href="{% url 'tests:list' %}">Test Requests - List</a></li>
        </ul>
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div data-alert class="alert-box {{ message.tags }} radius">
                {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        </div>
        {% block navigation %}{% endblock %}
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}

        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>