{% extends 'base.html' %}

{% block content %}
<h2>Order List</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Job #</th>
                <th>Company</th>
                <th>Customer</th>
                <th>Email</th>
                <th>Barcode URL</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            {% for item in test_list %}
            <tr>
                <td><a href="">{{ item.pk }}</a></td>
                <td>{{ item.customer.company }}</td>
                <td>{{ item.customer }}</td>
                <td>{{ item.customer.email }}</td>
                <td>{{ item.barcode_image }}</td>
                <td>
                    <a href="{% url 'tests:detail' pk=item.pk %}" class="btn btn-info">Edit</a>  <a href="#" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}