{% extends 'base.html' %}


{% block title %}Test Requests List{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="#">Site Pages</a></li>
    <li class="breadcrumb-item"><a href="#">Test Requests</a></li>
    <li class="breadcrumb-item active">Test Requests List</li>
</ol>
{% endblock %}

{% block page_title %}Test Requets List{% endblock %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Job #</th>
                    <th>Company</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Barcode URL</th>
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
                {% for item in test_list %}
                <tr>
                    <td><a href="{% url 'tests:update' pk=item.pk %}">17-00{{ item.pk }}</a></td>
                    <td>{{ item.customer.company }}</td>
                    <td>{{ item.customer }}</td>
                    <td>{{ item.customer.email }}</td>
                    <td>{{ item.barcode_image }}</td>
                    <td>
                        <a href="{% url 'tests:update' pk=item.pk %}" class="btn btn-info">Edit</a>  <a href="{% url 'tests:delete' pk=item.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  <!-- /.table-responsive -->
</div>  <!-- /.container -->
{% endblock %}